{% load formhelper %}
{# this template is intended for use within formhelper/formset.html #}
  <div class="{{ formset.prefix }}-form{% if form|is_empty_form %} empty-form{% endif %}{% if forloop.first %} first{% endif %}" id="{{ formset.prefix }}-{{ forloop.counter0 }}"{% if form|is_empty_form %} style="display: none"{% endif %}>
    <fieldset>
      <legend>
        <span class="counter">{{ formset|formset_verbose_name|title }} #{{ forloop.counter }}</span>
      </legend>
      {% include formset_form_tpl|default:"formhelper/form.html" %}
    </fieldset>
  </div>
