{% load formhelper %}
<div class="formset">
  {{ formset.management_form }}
  {% for form in formset %}
    {% include "formhelper/formset_form.html" %}
  {% endfor %}
  {% with form=formset.empty_form %}
    {% include "formhelper/formset_form.html" %}
  {% endwith %}
</div>
{# TODO: There may be a more extensible way to do this js #}
<script type="text/javascript" src="{{ STATIC_URL }}formhelper/js/formsets.js"></script>
<script type="text/javascript">
  $(document).ready(function(){
    var prefix = '{{ formset.prefix }}';
    var verbose_name = '{{ formset|formset_verbose_name|lower }}';
    var rows = '.'+prefix+'-form';
    var $rows = $(rows);
    var updateInlineLabel = function(e) {
        $(this).parent().find(rows).find("legend span.counter").each(function(i) {
            var count = i + 1;
            $(this).html($(this).html().replace(/#(\d+)?$/g, '#'+count));
        });
    };
    // use proper grammar
    var a = verbose_name.match(/^[AEIOUaeiou]/) ? 'an' : 'a';
    var formsetOpts = {
        prefix: prefix,
        addText: "Add another "+verbose_name,
        addTextInitial: "Add "+a+" "+verbose_name,
        addTitle: "Click here to add another"+verbose_name,
        addTitleInitial: "Click here to add "+a+" "+verbose_name,
        deleteText: "Remove"
    }
    $.extend(formsetOpts, {% formset_opts formset %});
    $rows.formset(formsetOpts);
    $rows.bind('formsetadd', updateInlineLabel);
    $rows.bind('formsetremove', updateInlineLabel);
    // make sure forms that are already displayed are updated
    $rows.not('.empty-form').each(function(){
      updateInlineLabel(null);
    });
    $rows.trigger('formsetinit');
  });
</script>
