<div class="formset">
  {{ formset.management_form }}
  {% for form in formset %}
  <div class="dynamic-form {{ formset.prefix }}{% if form.empty_form %} empty-form{% endif %}{% if forloop.first %} first{% endif %}" id="{{ formset.prefix }}-{{ forloop.counter0 }}">
    <fieldset>
      <legend>
        <span class="counter">{{ formset.verbose_name|title }} #1</span>
      </legend>
      {% include form_tpl|default:"formhelper/includes/form.html" %}
    </fieldset>
  </div>
  {% endfor %}
</div>
{# TODO: There may be a more extensible way to do this js #}
<script type="text/javascript" src="{{ STATIC_URL }}formhelper/js/formsets.js"></script>
<script type="text/javascript">
  $(document).ready(function(){
    var prefix = '{{ formset.prefix }}';
    var verbose_name = '{{ formset.verbose_name|lower }}';
    var rows = '.dynamic-form.{{ formset.prefix }}';
    var updateInlineLabel = function(e) {
        $(this).parent().find('.dynamic-form').find("legend span.counter").each(function(i) {
            var count = i + 1;
            $(this).html($(this).html().replace(/#(\d+)/g, '#'+count));
        });
    }
    // use proper grammar
    var a = verbose_name.match(/^[AEIOUaeiou]/) ? 'an' : 'a';
    $(rows).formset({
        prefix: prefix,
        addText: "Add another "+verbose_name,
        addTextInitial: "Add "+a+" "+verbose_name,
        addTitle: "Click here to add another"+verbose_name,
        addTitleInitial: "Click here to add "+a+" "+verbose_name,
        deleteText: "Remove",
    });
    $('.dynamic-form').bind('formsetadd', updateInlineLabel);
    $('.dynamic-form').bind('formsetremove', updateInlineLabel);
    // make sure forms that are already displayed are updated
    $('.dynamic-form').not('.empty-form').each(function(){
      updateInlineLabel(null);
    });
  });
</script>
